svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
  fill: rgba(65, 65, 65, 0.9);

}

button.ql-active svg {
  fill: white;
  fill: rgba(97, 97, 97, 0.98) !important;
}

.quillWrapper .ql-snow.ql-toolbar button {
  margin: 0.0625rem 0.125rem;
  display: flex;
  padding: 0.1875rem;
  justify-content: center;
  align-items: center;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
  display: flex;
  padding: 0.1875rem;
  margin: 0.0625rem 0.1875rem !important;
  justify-content: center;
  width: 1.875rem !important;
  height: 1.875rem !important;
  border-radius: 0.1875rem;
}

.ql-toolbar button.ql-active {
  background: rgba(85, 85, 97, 0.9) !important;
  background: rgba(203, 201, 201, 0.9) !important;
}

.quillWrapper .ql-toolbar {
  padding-bottom: 0.25rem;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
