.ql-editor {
  min-height: 12.5rem;
  font-size: 1.0rem;
}

.ql-snow .ql-stroke.ql-thin,
.ql-snow .ql-thin {
  stroke-width: 0.0625rem !important;
}

.quillWrapper .ql-snow.ql-toolbar {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}
.quillWrapper .ql-snow.ql-toolbar .ql-formats {
  margin-bottom: 0.625rem;
}

.ql-snow .ql-toolbar button svg,
.quillWrapper .ql-snow.ql-toolbar button svg {
  width: 1.375rem;
  height: 1.375rem;
}

.quillWrapper .ql-editor ul[data-checked=false] > li::before,
.quillWrapper .ql-editor ul[data-checked=true] > li::before {
  font-size: 1.35rem;
  vertical-align: baseline;
  bottom: -0.065rem;
  font-weight: 900;
  color: #222;
}

.quillWrapper .ql-snow .ql-stroke {
  stroke: rgba(63, 63, 63, 0.95);
  stroke-linecap: square;
  stroke-linejoin: initial;
  stroke-width: 0.10625rem;
}

.quillWrapper .ql-picker-label {
  font-size: 0.9375rem;
}

.quillWrapper .ql-snow .ql-active .ql-stroke {
  stroke-width: 0.140625rem;
}

.quillWrapper .ql-toolbar.ql-snow .ql-formats {
  vertical-align: top;
}

.ql-picker {
  &:not(.ql-background) {
    position: relative;
    top: 0.125rem;
  }

  &.ql-color-picker {
    svg {
      width: 1.375rem !important;
      height: 1.375rem !important;
    }
  }
}

.quillWrapper {
  & .imageResizeActive {
    img {
      display: block;
      cursor: pointer;
    }

    & ~ div svg {
      cursor: pointer;
    }
  }
}
